@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<a href="~/Home/YouTubeInterest?videoCount=20" class="btn btn-primary btn-lg">Learn more &raquo;</a>

 
<p>Use this area to provide additional information.</p>
